@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  


:root {
   --primary-dark: #4D5AE5;
   --pressed-state: #404BBF;
   --dark: #2E2F42;
   --success: #31D0AA;
   --text: #434455;
   --subtle-text: #8E8F99;
   --accent: #E7E9FC;
   --light: #F4F4FD ;
   --modal-overlay: #2E2F42;
   --hero-background: #2E2F42;
   --white-background: #FFFFFF;
   --modal-background: #FCFCFC;
}

/* lodo */

body {
    color: var(--text);
    background-color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
ul {
    list-style-type: none;   
}
a { 
    text-decoration: none;
}

.link {
    color: var(--primary-dark);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17,
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.accent {
    color: var(--dark);
}

/* benefits header*/

.list-stu:hover, .list-por:hover, .list-con:hover {
    color: var(--pressed-state);
}   
.list-stu, .list-por, .list-con {
    color: var(--dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0.02em 
    list-style: none
}

.mail:hover, .tel:hover {
   color: var(--pressed-state);
}

.mail, .tel {
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 1,5 */
    letter-spacing: 0.32px;
}

/* style on main */

/* hero section */

.hero-section {
    background-color: var(--hero-background);
}

.hero-title {
    color: var(--white-background);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
    color: var(--white-background);
    background-color: var(--primary-dark);
    border: none;
    front-weight: 16px;
    line-height: 1,5;
    text-align: center;
    text-transform: uppercase;

}

/*advan-section*/

.advantages {
   color: var(--dark);
   font-size: 20px;
   font-weight: 500;
   line-height: 1,2; 
   letter-spacing: 0.4px;
}

.advantages-title {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.32px;
}

 /*doing-section*/

.doing {
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 1,2; /* 1,11 */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.doing-foto {
    
}


 /*team-section*/
 
.team-section {
    background-color: var(--light);
}

.team {
    color: var(--dark);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}


.team-name {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1,11; /* 1,2 */
    letter-spacing: 0.4px;
    text-align: center
    text-transform: capitalize 
}

.team-job {
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5; /* 1,5 */
    letter-spacing: 0.02em
    text-align: center
}
/* buttons sections */

.all, .web-site, .app, .design, .marketing {
    color: var(--primary-dark);
    background-color: var(--light);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,5;
    border: none;    
}

.all:hover, .web-site:hover, .app:hover, .design:hover, .marketing:hover {
    color: var(--white-background);
    background-color: var(--pressed-state);
    border: none;
    text-align: center;

 }
/* cards-section */

.card-name {
    color: var(--dark);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,2;
    letter-spacing: 0.4px;
    
}
.post {
  color: var(--text);  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1,5;
  letter-spacing: 0.32px;
}

/* footer */

.footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.accent-footer {
    color: var(--light);
}

.footer-p {
    color: var(--light);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.32px;
}